{% extends "basics.html" %}
{% block title %}
    Gotem-Prueba | Crear Formulario
{% endblock title %}

{% block content %}

{% include "options.html" %}

<main class="reverse-row primary-background" doc-title="form-builder">
    <div id="show-buider-controls" >
        <div class="right-arrow frame"><span id="show-buider-controls-icon"></span></div>
    </div>
    <section class="form-bulding container forms-container">
        <form action="new" method="POST" id="form-building" formId="" class="full-height overflow-y">
            {% csrf_token %}
            <div class="field-container">
                <input class="background-input" type="text" name="name" id="new-form-name" placeholder="Nombre del Formulario" />
                <label for="new-form-name" class="secondary-background muted-color">Nombre del Formulario</label>
            </div>
        </form>
    </section>

    <sectiom class="buider-controls full-height">
        <div id="close-buider-controls">X</div>
        <div class="full-width column space-between none-top-margin">
            <div class = "column container none-top-margin" >
                <h3 class="title muted-color">Nuevo Campo</h3>
                <div class="field-container">
                    <input type="text" id="new-group-name" placeholder="Grupo de prguntas" />
                    <label for="new-group-name">Grupo de preguntas</label>
                </div>
                <textarea id="new-group-header" placeholder="Tu pregunta..."></textarea> 
            </div>

            <div class="full-width column none-bottom-margin">
                <select id="new-field-type" class="auto-margin">
                    <option value="null" disabled selected>Seleccione un campo</option>
                    {% for entity in entitys %}
                        <option value="{{entity.id}}" entityType="{{entity.type}}">{{entity.name}}</option>
                    {% endfor %}
                </select>
                
                <div class="row full-width">
                    <div class="field-container width-m full-width" id="new-field-text-container">
                        <input type="text" id="new-field-text" placeholder="Texto" />
                        <label class="full-width" for="new-field-text">Texto</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="full-width space-between none-bottom-margin button-container">
            <div id="buld-form-buttons" class="row auto-margin">
                <button type="button" id="add-field">Agregar</button>
                <button type="button" id="restart-field">limpiar</button>
            </div>
            <button type="button" id="create-form">Guardar Formulario</button>
        </div>
    </section>
</main>
{% endblock content %}