{% extends "basics.html" %}
{% block title %}
    Gotem-Prueba | formulario {{form.name}}
{% endblock title %}

{% block content %}
{% include "options.html" %}

<body class="primary-background y-overflow">
<main doc-title="form-view" class="y-overflow">
    <section class="container forms-container full-width">
        <h1 class="text-center title muted-color secondary-background right-arrow">{{form.name}}</h1>
        <form id="form-view" formId="{{ form.id }}" action="" method="" name="{{ form.name }}">
            {% csrf_token %}
            {% for group in groups %}
                <h2 class="group-title left-arrow secondary-background muted-color">{{ group.name }}</h2>
                <div class="form-group column">
                    <p class="text field-cuestion">{{ group.header }}</p>
                    {% for field in group.fields %}
                        <div class="field-container" field_type = "{{field.type}}-{{field.tag}}-{{field.name}}">
                            {% if field.type == 'input' %}
                                <input class="field" type="{{ field.tag }}" name="{{ field.name }}" id="{{ field.tag }}-{{field.id}}-{{ field.name }}" placeholder="{{ field.text }}" field_id="{{ field.id }}" value="{{ field.text }}">
                                <label for="{{ field.tag }}-{{field.id}}-{{ field.name }}">{{ field.text }}:</label>
                            {% elif field.type == 'select' %}
                                <select class="field" type="{{ field.tag }}" title="{{ field.name }}" name="{{ field.name }}" id="{{ field.tag }}-{{ field.name }}" field_id="{{ field.id }}" value="">
                                    {{ field.specials|safe }}
                                </select>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="row form-button-container">
                <input type="reset" value="Limpiar">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </section>
</main>
</body>

{% endblock content %}

<!--
    {
    "form": {
        "id": 1,
        "name": "formulario de animales",
        "date": "2024-12-13T20:48:38.828Z"
    },
    "groups": [
        {
        "id": 1,
        "name": "animales",
        "header": " te gustan?",
        "fields": [
            {
            "id": 1,
            "name": "respueta-te gustan",
            "type": "input",
            "tag": "radio",
            "text": "si",
            "specials": ""
            },
            {
            "id": 2,
            "name": "respueta-te gustan",
            "type": "input",
            "tag": "radio",
            "text": "no",
            "specials": ""
            },
            {
            "id": 3,
            "name": "favorito",
            "type": "select",
            "tag": "select",
            "text": "no",
            "specials": "\u003Coption value=\"\" disabled=\"\" selected=\"\"\u003ESeleccione una opcion\u003C/option\u003E\u003Coption value=\"perro\"\u003Eperro\u003C/option\u003E\u003Coption value=\"gato\"\u003Egato\u003C/option\u003E"
            },
            {
            "id": 4,
            "name": "favorito-personalizado",
            "type": "input",
            "tag": "input",
            "text": "",
            "specials": ""
            }
        ]
        }
    ]
    }
-->