{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta language="es" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'js/Alerts.js' %}"></script>

    {% block custom_style %}    {% endblock custom_style %}
    {% block main_Js %}    {% endblock main_Js %}

</head>
{% block content %}{% endblock content %}